<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commonMapper">

<resultMap type="Taxinfo" id="resultTaxinfo">
<result property="info_no" column="info_no"/>
<result property="info_title" column="info_title"/>
<result property="info_writer" column="info_writer"/>
<result property="file1" column="file1"/>
<result property="file2" column="file2"/>
<result property="file3" column="file3"/>
<result property="file4" column="file4"/>
<result property="file5" column="file5"/>
<result property="file6" column="file6"/>
<result property="info_contents" column="info_contents"/>
<result property="info_date" column="info_date"/>
<result property="hits" column="hits"/>
</resultMap>


<select id="selectTaxinfoTop10" resultMap="resultTaxinfo">
		select * from tb_taxinfo
	</select>

</mapper>