<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="introMapper">

	<resultMap type="Intro" id="resultIntro">
		<result property="intro_title" column="intro_title" />
		<result property="address" column="address" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="contents" column="contents" />
		<result property="intro_img" column="intro_img" />
		<result property="pax" column="pax" />
	</resultMap>
	
	<resultMap type="IService" id="resultIService">
		<result property="service_no" column="service_no" />
		<result property="service_title" column="service_title" />
		<result property="service_contents" column="service_contents" />
	</resultMap>
	
	<select id="getIntro" resultMap="resultIntro" useCache="true">
		select * from tb_intro
	</select>
	
	<select id="getServiceList" resultMap="resultIService" useCache="true">
		select * from tb_service	
	</select>
	
	<delete id="deleteService" parameterType="_int">
		delete from tb_service where service_no = #{service_no}
	</delete>
	
	<insert id="insertService" parameterType="IService">
		insert into tb_service(service_title, service_contents) values(#{service_title}, #{service_contents})
	</insert>
	
	<update id="updateService" parameterType="IService">
		update tb_service set service_title=#{service_title}, service_contents=#{service_contents} where service_no=#{service_no}
	</update>
	
	<update id="updateIntro" parameterType="Intro">
		update tb_intro set intro_title=#{intro_title}, contents=#{contents}, intro_img=#{intro_img}
	</update>
	<update id="updateIntro2" parameterType="Intro">
		update tb_intro set intro_title=#{intro_title}, contents=#{contents}
	</update>


</mapper>